@using DexCMS.Core.Infrastructure;

<div class="social">
    <ul>
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("CodepenEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("CodepenUrl")" target="_blank"> <span class="fa fa-codepen"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("EtsyEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("EtsyUrl")" target="_blank"> <span class="fa fa-etsy"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("FacebookEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("FacebookUrl")" target="_blank"> <span class="fa fa-facebook"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("GithubEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("GithubUrl")" target="_blank"> <span class="fa fa-github"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("GooglePlusEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("GooglePlusUrl")" target="_blank"> <span class="fa fa-google-plus"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("InstagramEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("InstagramUrl")" target="_blank"> <span class="fa fa-instagram"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("LinkedInEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("LinkedInUrl")" target="_blank"> <span class="fa fa-linkedin"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("PinterestEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("PinterestUrl")" target="_blank"> <span class="fa fa-pinterest"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("StackOverflowEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("StackOverflowUrl")" target="_blank"> <span class="fa fa-stack-overflow"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("TwitterEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("TwitterUrl")" target="_blank"> <span class="fa fa-twitter"></span></a>
            </li>
        }
        @if (Convert.ToBoolean(SiteSettings.Resolve.GetSetting("YouTubeEnabled")))
        {
            <li>
                <a href="@SiteSettings.Resolve.GetSetting("YouTubeUrl")" target="_blank"> <span class="fa fa-youtube-play"></span></a>
            </li>
        }
    </ul>
</div>